{% extends 'base.html' %}
{% block title %}
    UserUpdate
{% endblock %}
{% block content %}
<h1 class="updateformtitle">
    Изменение данных
</h1>
    <form id="updateinfoform" method="post" action="{% url 'user_update' slug=user.user_url %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Изменить">
    </form>
    <form action="{% url 'password_change' slug=user.user_url %}" method="post">
        {% csrf_token %}
        {{ pw_form.as_p }}
        <input type="submit" value="Изменить">
    </form>
{% endblock %}
