<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<div class="question">
    <p>{{ question.title }}</p>
    <p>{{ question.description }}</p>
    {#method="post" action="{% url 'test-ajax' pk=question.id %}"#}
    <form id="test-form" data-question-id="{{ question.id }}">
        {% csrf_token %}
        {% for answer in question.answer_set.all %}
            <input type="radio" name="answer" value="{{ answer.pk }}">{{ answer }}<br>
        {% endfor %}
        <input type="submit" value="OK">
    </form>
</div>
<script type="text/javascript">
    {#$.get('test-ajax', {pk: })(function (data) {#}
    {#    $('.question').html(data.html);#}
    {#    alert('Loaded!')#}
    {# });#}

    $(document).ready(function () {
        $(document).on('submit', $('#test-form'), (function (e) {
                e.preventDefault();
                $.ajax({
                    data: $('#test-form').serialize(),
                    url: "/test-ajax-" + $('#test-form').data('question-id') + "/",
                    dataType: 'json',
                    method: "POST",
                    cache: false
                }).done(function (response) {
                    console.log(response);
                    if (response.question_html != null) {
                        $('.question').html(response.question_html);
                    }
                    else {
                        window.location.replace(response.redirect_url);
                    }
                });
            })
        );
    });
</script>
</body>
</html>
