input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
}

div.container #loginform
{
   justify-content: center ;
  justify-items: center ;
  text-align: center ;
  margin-bottom: 100px;
  padding-top: 25px;
  padding-bottom: 50px;
}

div.container.page #loginform input[type=text],input[type=password],input[type=email],input[type=file],input[type=number]
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  width: 50%;
}

div.container.page #loginform input[type=text],input[type=password],input[type=email],input[type=number]
{
   border:3px solid #5BC8AC;
  border-radius: 10px;
}

div.container #loginform label
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Courier New", Courier, Monospace;
  font-weight: 600;
}

.logintitle
{
  text-align: center;
  padding-top: 30px;
  font-family: "Courier New", Courier, Monospace;
  font-weight: bold;
}

