*
{
    font-family: Mysl Bold Italic;
    font-size: 16px;
    font-weight: 900;
}

.overlay
{
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width:100% ;


}

.myheader
{
    background: url("../pictures/MainBG.jpg") no-repeat;
    background-size: cover;
    padding-left: 0px;
	padding-right: 0px;
	width: 100%;


}

.myfooter
{
  margin-top: -100px;
  /*Минус Высота футера*/
  height: 100px;
  /*Высота футера*/;
    border-color: black;
    background: white;
}
nav-link:hover
{

}
