
.description
{
    text-align: center;
}

.footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #98DBC6;
}
.ico
{
    border:2px solid #5BC8AC !important;
    color:#5BC8AC !important;
}
.ico:hover
{
    background: white;
}

@media (min-width: 1200px)
{
    * {font-size: 32px}

}



